.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
project.lock.json
project.fragment.lock.json
artifacts/

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.json.lock

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.cer
emdb/

*.log
*.pid
*.seed
*.pid.lock

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.env
